<footer class="bg-dark text-center text-white"  style="border-radius: 0px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
  
    <div class="container p-4">

      <section class="mb-4">
        <p>
            تنذعکس مکانیه برای اشتراک گذاری وضعیت و اطلاعات خود، با بقیه افراد!
        </p>
      </section>

      

      
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); border-radius: 15px;">
      هیچ حقوقی محفوظ نیست! ساخته شده با قهوه :)
      <a class="text-warning" href="/" style="text-decoration: none;">تنذعکس</a>
    </div>
  </footer>