{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% include 'navbar.html' %}
<div class="container">

    <div class="row"  >
        <div class="col-12 card post-col p-3 bg-dark my-2 post">
            <form method="post" enctype="multipart/form-data" > <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                <div class="row">
                    <div class="col-11">
                        <div style="text-align: center;">
                        <input type="text" name="title" value="" class="form-control my-3" placeholder="تیتر پست" style="width: 25%;" /></div>
                        <textarea type="text" name="text" id="" class="form-control" placeholder="توضیحات پست"></textarea>
                    </div>
                    <div class="col-1">
                        <button type="submit" title="ارسال پست" class="submit-btn">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </div>

                <div class="row file-image">
                    <div class="col-4">
                        <input class="text-light" type="file"  name="file" value="" />
                    </div>
                </div>
            </form>
            

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <span class="text-danger errors">
                    {{msg}}
                    </span>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>



        <div class="col-12 card post-col p-3 bg-dark my-3 post">
            
            <a href=""><p class="text-light post-title">تایتل</p></a>
  
            <img src="/media/default.jpeg" alt="" class="rounded-3">

            <p class="text-light description my-2">این یک لورم فارسی است و من دارم چرت و پرت مینویسم تا با فونت فارسی و راست چین بودن قشنگ تر بشه و ما بیشتر درکش کنیم.</p>

            <div class="row">
                <div class="col-8">
                    <input type="text" class="form-control post-comment" placeholder="نظر خود را بنویسید.">
                </div>

                <div class="col-4">

                    <div class="row">
                        <div class="col-6">
                            <a class = "text-success" href=""><i class="fa fa-paper-plane comment-icon"></i></a>
                        </div>
                        <div class="col-6 like-button">
                            <a class="text-warning mx-1" href="">
                                <i class="fa fa-comment comment-icon"></i>
                            </a>                             
                            <a class = "text-danger" href="">
                                <i class="fa fa-heart like-icon"></i>
                            </a>   
                        </div>
                    </div>

                        

                    
                </div>
            </div>

        </div>


        


    </div>

</div>

{% include 'footer.html' %}
{% endblock %}