{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% include 'navbar.html' %}
<div class="container">

    <div class="row"  >
        <div class="col-12 card post-col p-3 bg-dark my-2 post">
            <form method="post" > <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                <div class="row">
                    <div class="col-11">
                        <div style="text-align: center;">
                        <input type="text" name="title" value="" class="form-control my-3" placeholder="تیتر پست" style="width: 25%;" /></div>
                        <textarea type="text" name="" id="" class="form-control" placeholder="توضیحات پست"> </textarea>
                    </div>
                    <div class="col-1">
                        <a type="submit" class=""><i class="fa fa-paper-plane send-icon" ></i></a>
                    </div>
                </div>
            </form>
            <div class="row text-center file-image">
                <div class="col-4">
                    <button class="btn btn-outline-primary">عکس </button>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-danger">پی دی اف</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-warning">پایتون</button>
                </div>
            </div>

        </div>


        <div class="col-12 card post-col p-3 bg-dark my-2 post">
            
            <a href=""><p class="text-light post-title">تایتل</p></a>
  
            <img src="https://imgsv.imaging.nikon.com/lineup/dslr/df/img/sample/img_01_l.jpg" alt="" class="rounded-3">

            <p class="text-light description my-2">این یک لورم فارسی است و من دارم چرت و پرت مینویسم تا با فونت فارسی و راست چین بودن قشنگ تر بشه و ما بیشتر درکش کنیم.</p>

            <div class="row">
                <div class="col-8">
                    <input type="text" class="form-control post-comment" placeholder="نظر خود را بنویسید.">
                </div>

                <div class="col-4">

                    <div class="row">
                        <div class="col-6">
                            <a class = "text-success" href=""><i class="fa fa-paper-plane comment-icon"></i></a>
                        </div>
                        <div class="col-6 like-button">
                            <a class="text-warning mx-1" href="">
                                <i class="fa fa-comment comment-icon"></i>
                            </a>                             
                            <a class = "text-danger" href="">
                                <i class="fa fa-heart like-icon"></i>
                            </a>   
                        </div>
                    </div>

                        

                    
                </div>
            </div>

        </div>


        
        <div class="col-12 card post-col p-3 bg-dark my-2 post">
            <a href=""><p class="text-light post-title">تایتل</p></a>
  
            <img src="https://imgsv.imaging.nikon.com/lineup/dslr/df/img/sample/img_01_l.jpg" alt="" class="rounded-3">

            <p class="text-light description my-2">این یک لورم فارسی است و من دارم چرت و پرت مینویسم تا با فونت فارسی و راست چین بودن قشنگ تر بشه و ما بیشتر درکش کنیم.</p>

            <div class="row">
                <div class="col-8">
                    <input type="text" class="form-control post-comment" placeholder="نظر خود را بنویسید.">
                </div>

                <div class="col-4">

                    <div class="row">
                        <div class="col-6">
                            <a class = "text-success" href=""><i class="fa fa-paper-plane comment-icon"></i></a>
                        </div>
                        <div class="col-6 like-button">
                            <a class="text-warning mx-1" href="">
                                <i class="fa fa-comment comment-icon"></i>
                            </a>                             
                            <a class = "text-danger" href="">
                                <i class="fa fa-heart like-icon"></i>
                            </a>   
                        </div>
                    </div>

                        

                    
                </div>
            </div>

        </div>
        


    </div>



</div>

{% include 'footer.html' %}
{% endblock %}