{% extends 'base.html' %}

{% block head %}
    <script src="/static/js/like.js" defer></script>
{% endblock %}

{% block body %}

{% include 'navbar.html' %}
<div class="container">

    <div class="row"  >
        <div class="col-12 card post-col p-3 bg-dark my-2 post">
            <form method="post" enctype="multipart/form-data" > <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                <div class="row">
                    <div class="col-11">
                        <div style="text-align: center;">
                        <input type="text" name="title" value="" class="form-control my-3" placeholder="تیتر پست" style="width: 25%; white-space: pre-line;" /></div>
                        <textarea type="text" name="text" id="" class="form-control" placeholder="توضیحات پست"></textarea>
                    </div>
                    <div class="col-1">
                        <button type="submit" title="ارسال پست" class="submit-btn">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>

                <div class="row file-image">
                    <div class="col-4">
                        <input class="text-light" type="file"  name="file" value="" />
                    </div>
                </div>
            </form>
            

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <span class="text-danger errors">
                    {{msg}}
                    </span>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <a href="/?sort_by=like" style="display: inline-block;">
            مرتبط سازی براساس لایک ها
        </a>

        <br>

        <a href="/?sort_by=new" style="display: inline-block;">
            مرتبط سازی براساس جدیدترین ها
        </a>


        {% for post in posts %}
        <div class="col-12 card post-col p-3 bg-dark my-3 post"> <!-- post div starts here -->
            
            <div class="row">

                <div class="col-6">
                    <a href="{{post.get_post_url}}"><p class="text-light post-title">{{post.title}}</p></a> <!-- Put title here -->
                </div>

                <div class="col-6 text-light" style="direction: ltr;">
                    <img src="{{post.author.image_url}}" alt="" class="rounded-circle user-image">
                    <span class="post-info"><a href="{{post.author.get_profile_url}}" class="text-light"> {{post.author.username}}</a></span> <span>|</span> <!-- Put author here -->
                    <span class="post-info">{{ to_datetime(post.timestamp) }}</span> <!-- Put date here -->
                </div>
            </div>
            {% if post.file_url %}
                {% if is_aks(post.file_url) %}
            <img src="{{post.file_url}}" alt="" class="rounded-3"> <!-- Put image or file url here --> 
                {% else %}
                <a href="{{ post.file_url }}" class="my-2"> {{ post.file_url }}</a>                                            

                {% endif %}
            {% endif %}
            <p class="text-light description my-2" style="white-space: pre-line;">{{post.text}}</p> <!-- Put description here -->


            <div class="row">
                <div class="col-8">
                    <form method="post" >
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf_token" />
                        <input type="text" name="comment_text" class="form-control post-comment" placeholder="نظر خود را بنویسید.">
                        <input type="hidden" name="post_id" value="{{ post._id }}"  id="post_id" />
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6">

                            <button  name="submit_comment" value="salam"  class = "submit-btn text-success"  type = "submit" style="margin-top: -10px;" ><i class="fa fa-paper-plane"></i></button>

                        </form>
                        </div>
                        <div class="col-6 like-button">
                            <a class="text-warning mx-1" href="{{post.get_post_url}}">
                                <i class="fa fa-comment"></i>
                            </a>                             
                            <a class = "text-danger" style="cursor: pointer;" onclick="Like(' {{post._id}} ')">
                                <i class="fa fa-heart"></i>
                            </a>
                            <p  style = "color: red;" id="{{post._id}}">{{ post.likes.__len__() }}</p>
                        </div>
                    </div>
                        

                    
                </div>
            </div>

        </div>
        {% endfor %}


    </div>

</div>

{% include 'footer.html' %}
{% endblock %}