{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/post.css') }}"> 

{% endblock %}


{% block body %}

    {% include 'navbar.html' %}

        <div class="container">

            <div class="card my-4 bg-dark post-col p-2">
                
                <p class="text-light my-2 text-center post-view-title">
                    {{post.title}}
                </p>

                {% if post.file_url %}
                    {% if is_aks(post.file_url) %}
                        <img src="{{post.file_url}}" alt="" class="rounded-3 m-2">
                    {% else %}
                        <a href="{{ post.file_url }}" class="my-2"> {{ post.file_url }}</a>                                            
                    {% endif %}
                {% endif %}
                
                <p class="text-light description my-2">{{post.text}}</p> 

                <hr class="text-light mx-5">

                <p class="text-light">
                    نظرات ها
                </p>

                {% for comment in comments %}
                <div class="row">
                    <div class="col-8">
                        <p class="text-warning">
                            {{comment.text}}
                        </p>
                    </div>

                    <div class="col-4" style="direction: ltr;">
                        <img src="{{comment.commenter.image_url}}" alt="" class="rounded-circle user-image">

                        <span class="post-info"><a href="{{comment.commenter.get_profile_url}}" class="text-light"> {{comment.commenter.username}}</a></span> <span class="text-light">|</span> <!-- Put author and url here -->
                        <span class="post-info text-light">{{to_datetime(comment.timestamp)}}</span>

                    </div>
                </div>

                {% endfor %}
                

                <div class="row">

                    <div class="col-8">
                        <form method="post">

                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf_token" />
                            <input type="text" name="comment_text" class="form-control post-comment" placeholder="نظر خود را بنویسید.">
                            <input type="hidden" name="post_id" value="{{ post._id }}"  id="post_id" />
                    </div>

                    <div class="col-4">

                            <button  name="submit_comment" value="salam"  class = "submit-btn text-success"  type = "submit" style="margin-top: -10px;" >ارسال کامنت</button>
                        
                        </form>
                    </div>

                </div>
                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for msg in messages %}
                
                    <p class="text-danger" style="margin-bottom: 0; margin-top: 10px;">
                        {{msg}}
                    </p>

                    {% endfor %}
                {% endif %}
                {% endwith %}
                
            </div>

        </div>



        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>

    {% include 'footer.html' %}

{% endblock %}