<!-- <!DOCTYPE html>
<html>
    <head>
        <title>
            Your Profile
        </title>
    </head>

    <body>
        
        <img src="{{ user.image_url }}" />

        <form method="post" enctype="multipart/form-data"> 
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
            <input type="file"  name = "pic"  id="file_selector" />
            <textarea name="plain_text"  >
                {{user.bio}}
            </textarea>
            

            <button type="button">
                click me
            </button>

        </form>
        <br>

            <p id="payam">
            </p>

        <br>


    {% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            {{msg}}
        {% endfor %}
    {% endif %}
    {% endwith %}



        <script src="/static/js/profile.js"></script>
    </body>
</html> -->

{% extends 'base.html' %}

{% block head %}

    <title>تنذعکس - تغییر پروفایل</title>

{% endblock %}

{% block body %}

    {% include 'navbar.html' %}

        <div class="container">
            

                        <img src="../uploads/default.jpeg" alt="" style="">


        </div>

        <script src="/static/js/profile.js"></script>

    {% include 'footer.html' %}

{% endblock %}