{% if html %}

  {{user.bio|safe}}
  <script src="/static/js/is_online.js"></script>
{% else %}



{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/profile_view.css') }}"> 

{% endblock %}

{% block body %}

    {% include 'navbar.html' %}

    <div class="container d-flex justify-content-center align-items-center">
             
        <div class="card bg-dark post-col my-3">

         <div class="upper">

           <img src="{{ user.image_url }}" class="img-test">
           
         </div>

         <div class="user text-center">

           <div class="profile">

             <img src="{{ user.image_url }}" class="rounded-circle" width="80">
             
           </div>

         </div>


         <div class="mt-5 text-center">

           <h4 class="mb-0 text-light">{{ user.username }}</h4>
           

           <button class="btn btn-primary btn-sm follow">مرتبط شدن</button>
           <a href="{{ bio_url }}"><button class="btn btn-primary btn-sm follow">درباره {{ user.username }}</button> </a>



           <div class="d-flex justify-content-between align-items-center mt-4 px-4">

             <div class="stats">
               <h6 class="mb-0 text-light">مرتبط ها</h6>
               <span class = "text-light">823</span>

             </div>


             <div class="stats">
               <h6 class="mb-0 text-light">پست ها</h6>
               <span class = "text-light">142</span>

             </div>


             <div class="stats">
               <h6 class="mb-0 text-light">لایک ها</h6>
               <span class = "text-light">120</span>

             </div>


             <div class="stats">
              <h6 class="mb-0 text-light">اضافه شده در:</h6>
              <span class = "text-light" style="font-size: 20px;">{{ user.timestamp }}</span>

            </div>
             
           </div>
           
         </div>
          
        </div>

      </div>

      <br><br><br><br><br>
      <br><br><br>
      <br><br>


    {% include 'footer.html' %}

{% endblock %}

{% endif %}
